{% extends 'add_food.html' %}

{% block form %}
<div class="card-header bg-dark text-light lead">
    {{ pretty_date }}
</div>

<div class="card-body bg-warning fs-5 fw-light">
    <form action="{{ url_for('day', date=date) }} " method="post">

        <div class="row g-4">

            <div class="col-12">
                <select class="form-select" aria-label="Default select example" name="food_id">
                    {% for food in food_list %}
                        <option value="{{ food.food_id }}">{{ food.food_name }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <button type="submit" class="btn btn-dark mt-4">Add</button>

    </form>
{% endblock %}

{% block list_food %}
{{ super() }}
{% endblock %}