{% extends "index.html" %}


{% block menu %}

<div class="menu">

    <a href="{{ url_for('notes') }}">My notes</a> |
    <a href="{{ url_for('index') }}">Home</a>

</div>

{% endblock %}


{% block content %}

<form action="{{ url_for('new_note') }}" method="post">

    <div class="title">
        <input type="text" name="title" placeholder="Title" autocomplete="off" required>
    </div>

    <div class="text_field">
        <textarea name="text" placeholder="Your thoughts" spellcheck="false" required></textarea>
    </div>

    <div class="button">
        <input type="submit" name="submit_button" value="Publish">
    </div>

</form>

{% endblock %}