{% extends 'home.html' %}

{% block title %} Answer on the Question {% endblock %}

{% block content %}

<h2 class="fw-light fs-2 mb-4">Answered Questions</h2>

<div class="d-flex flex-column">
    
    <!-- BLOCKS OF THE QUESTIONS -->

    <div class="bg-dark p-4 " style="--bs-bg-opacity: .07;">
        <h4 class="fw-light fs-4">{{ question.text }}</h4>
        <span class="text-secondary">Asked by: {{ question.asker_name }}
        <br>
        Answered by: {{ question.expert_name }}</span>
        <p class="mt-5 fs-4">{{ question.answer }}</p>
    </div>


</div>

{% endblock %}