{% extends 'home.html' %}

{% block title %} Answer a Question {% endblock %}

{% block content %}

<h2 class="fw-light fs-2 mb-4">Questions for You</h2>

<div class="d-flex flex-column">
    
    <!-- BLOCKS OF THE QUESTIONS -->
    {% if questions %}
    {% for question in questions %}
    <a href="{{ url_for('answer_question', id_question=question.id) }}" class="answers mb-2">
        <div class="bg-dark p-4 " style="--bs-bg-opacity: .07;">
            <h4 class="fw-light fs-4">{{ question.text_question }}</h4>
            <span class="text-secondary">Asked by: {{ question.user_name }}</span>
        </div>
    </a>
    {% endfor %}
    {% else %}
    <p class="fs-4 text-secondary mb-2">No questions yet..</p>
    {% endif %}

</div>

{% endblock %}