{% extends 'home.html' %}

{% block title %} Answer a Question {% endblock %}

{% block content %}

<h2 class="fw-light fs-2 mb-4">Users</h2>

<div class="d-flex flex-column">
    
    <!-- BLOCKS OF THE QUESTIONS -->

    {% for user in users_list %}
        <div class="{%if user.admin and user.expert%} bg-warning {% elif user.admin %} bg-success {% elif user.expert %} bg-primary {% else %} bg-dark {% endif %} p-3 d-flex justify-content-start align-items-center mb-2"
             style="{% if user.admin or user.expert %} --bs-bg-opacity: .5; {% else %} --bs-bg-opacity: .07; {% endif %}">
            <h4 class="fw-light fs-5">{{ user.user_name }}</h4>

            <a href="{{ url_for('promote', user_id=user.id, role='admin' ) }}" class="ms-4">
                <div class="p-3 bg-success rounded-circle"></div>
            </a>
            <a href="{{ url_for('promote', user_id=user.id, role='expert' ) }}" class="ms-2">
                <div class="p-3 bg-primary rounded-circle"></div>
            </a>

        </div>
    {% endfor %}

</div>

{% endblock %}