a {cursor: pointer;}

.header-link {
	color: #ffffff;
	font-weight: 600;
	transition: 0.2s all ease-out;
	text-decoration: none;
	margin: 0 10px;
}

.header-link:hover {
	color: #dbdbdb;
}

.header-link:actiove {
    color: #ffffff;
}

.side-bar, .quit {
    color: #404040;
    transition: 0.2s all ease-out;
    text-decoration: none;
}

.side-bar:hover {
    color: #5e5e5e;
}

.quit:hover {
    color: #c73a3a;
}

.news {
    text-decoration: none;
    color: #404040;
    transition: 0.2s all ease-out;
}

.news:hover{
    background-color: #feffed;
}
