{% macro render_field(field) %}

<div>
	{{ field(class="form-control", **kwargs)}}
	{% if field.errors %}
	{% for errors in field.errors %}
	    <small class="form-text text-danger ">
	        {{ errors }}
	    </small>
	{% endfor %}
    {% endif %}
</div>

{% endmacro %}

{% macro render_select_button(field) %}

<div>
	{{ field(class="form-check-input", **kwargs)}}
	{{ field.label(class="form-check-label", **kwargs)}}
	{% for error in field.errors %}
        <p>{{ error }}<p>
    {% endfor %}
</div>

{% endmacro %}

{% macro news(post_info) %}
<a href="{{ url_for('post', num=post_info.id) }}" class="text-decoration-none">
	<div class='d-flex flex-column p-3 rounded mb-4 shadow-sm news'>

		<div class='d-flex flex-column mb-3'>
			<div>
				<h2 class="fw-bold text-dark mb-1">{{ post_info.title }}</h2>
			</div>
			<div class="text-secondary">
				<span>{{ post_info.author.username }}</span>
				<span>{{ post_info.date_post.strftime('%Y-%m-%d') }}, {{ post_info.date_post.strftime('%H:%M:%S') }}</span>
			</div>
		</div>

		<div>
			<p class='p-0 m-0'>
				{% if post_info.content|length > 350 %}
					{{ post_info.content[:350] }} <span class="text-secondary">(...)</span>
				{% else %}
					{{ post_info.content }}
				{% endif %}
			</p>
		</div>

	</div>
</a>

{% endmacro %}
