{% extends "base.html" %}

{% block title %} Главная страница {% endblock %}

{% block content %}

<div class="container">
    <div class="row p-5 pt-4">

        {% if loged %}

        {% for cat, msg in get_flashed_messages(True) %}
        <div class="col-md-12 m-0">
            <!-- FLASH MESSAGE-->
                <div class="alert alert-{{ cat }} m-0" style="width: 100%;">{{ msg }}</div>
        </div>
        {% endfor %}

        <!--NEWS LIST-->
        <div class="col-md-8 col-12 mt-4">
            {% for post in posts %}
                {{ news(post) }}
            {% endfor %}
        </div>

        <!--ACCOUNT INFO-->
            <nav class="col-md-4 d-md-block d-none">
                <div class="navbar sticky-top p-0 pt-4">
                    <div class="p-4 rounded shadow-sm" style="width: 100%;">
                        <div class="row">

                            <div class="col-12 d-flex justify-content-between align-items-center">
                                <a href="{{ url_for('profile') }}" class="side-bar">
                                    <h4 class="fw-light m-0">{{ user.username }}</h4>
                                </a>
                                <!-- LOGOUT -->
                                <a class="quit" href="{{ url_for('logout') }}">
                                    <i class="bi bi-box-arrow-right fs-5"></i>
                                </a>
                            </div>

                            <div class="col-12">
                                <span class="fs-6 fw-light text-secondary">{{ user.email }}</span>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>

        {% else %}
        <div class="col-12">
            {% for post in posts %}
                {{ news(post) }}
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}