{% extends 'base.html' %}

{% block title %} {{ cur_post.title }} {% endblock %}

{% block content %}

<div class="container p-5">
    <div class="row">

        <!-- TITLE -->
        <div class="col-12">
            <h1 class="fw-bold m-0">{{ cur_post.title}}</h1>
            <div class="text-secondary lead">
                <small>{{ cur_post.author.username }}</small>,
                <small>{{ cur_post.date_post.strftime('%Y-%m-%d') }}</small>
            </div>
        </div>

        <div class="col-12">
            <p class='fw-light' style="white-space: pre-line;">
                {{ cur_post.content }}
            </p>
        </div>

        <!-- WRITE THE COMMENT -->
        <div class="col-12 border-top p-4">
            <form action="{{ url_for('post', num=cur_post.id) }}" method="post" novalidate>
                {{ form.csrf_token }}

                {{ form.comment_text(placeholder=form.comment_text.label.text, class='form-control mt-4',
                autocomplete="off", style='resize: none;')}}

                <div class="d-flex align-items-center">
                {{ form.submit(class='btn btn-outline-success mt-2 ms-auto') }}
                {% for errors in form.submit.errors %}
                    <small class="form-text text-danger ">
                        {{ errors }}
                    </small>
                {% endfor %}
                {% for errors in form.comment_text.errors %}
                    <small class="form-text text-danger ">
                        {{ errors }}
                    </small>
                {% endfor %}
                </div>
            </form>
        </div>

        <!-- COMMENTS -->
        <div class="col-12 p-4">

            {% for comment in comments %}
            <div class="d-flex flex-column fw-light shadow-sm p-4 mb-3">
                <div class="mb-2">
                    <span class="fs-5">{{ comment.commenter.username }}</span>,
                    <span class="text-secondary">{{ comment.date_comment.strftime('%Y-%m-%d') }},</span>
                    <span class="text-secondary">{{ comment.date_comment.strftime('%H:%M:%S') }}</span>
                </div>
                <div style="word-wrap: break-word;">
                    {{ comment.text }}
                </div>
            </div>
            {% endfor %}


        </div>

    </div>
</div>

{% endblock %}